/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    line-height: 1.6;
    transition: background 0.5s ease, color 0.5 ease;
}

header {

    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    display: grid;
    gap: 20px;
    padding: 20px;
    width: 80%;
}



.details {
    display: none;
    margin-top: 10px;
    font-size: 1rem;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

h2 {
    color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: red;
}

.project:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

button {
    padding: 5px 10px;
}

button:hover {
    background-color: white;
    cursor: pointer;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {

    body {
        font-size: 9px;
    }

    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }
    
    section {
        padding: 10px;
        margin: 10px;  
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 18px;
    }

    header, footer {
        padding: 20px;
    }
    nav ul li {
        display: inline-block;
        padding: 20px;
        margin: 20px;
    }
}

/* Light mode styles */
body.light-mode {
    background-image: url('../media/Trees.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: black;
}

body.light-mode header {
    color: black;
}
body.light-mode footer {
    color: white;
}

body.light-mode a {
    color: black;
}

body.light-mode button {
    background-color: black;
    color: white;
    border: 1px solid black;
}

body.light-mode button:hover {
    background-color: black;
}

body.light-mode section {
    color: white
}

/* Dark Mode Styles */
body.dark-mode {
    background-image: url('../media/Waterfall.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

body.dark-mode header,
body.dark-mode footer {
    color: white;
}

body.dark-mode a {
    color: #fff;
}

body.dark-mode button {
    background-color: white;
    color: black;
    border: 1px solid #444;
}

body.dark-mode button:hover {
    background-color: white;
}

.mode-switcher {
    position: absolute;
    top: 20px;
    right: 20px;
}

.mode-switcher button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}